<head>

  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- use bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/styles.css" />
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-M2Z3KQS');</script>
  <!-- End Google Tag Manager -->
	<link rel="icon" type="image/png" href="/assets/media/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/assets/media/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/assets/media/favicon-96x96.png" sizes="96x96">
	{% feed_meta %}
	{% seo %}
	<style type="text/css">
		html, body {
			margin: 0; padding: 0;
		}
		iframe {
			width: 1px;
			min-width: 100%;
		}
	</style>
	<script type="text/javascript" src="/assets/js/iframeResizer.min.js"></script>
	<script>function resizer() { iFrameResize({log:true, scrolling:true }); }</script>
</head>
