<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=1890, initial-scale=1">
    <title>{% if page.title %}
			{{ page.title }}
		{% elsif page.tag %}
			{% assign catdata = site.data.categories | where: "id", page.tag %}
			{% if catdata.size == 1 %}
				{% assign catname = catdata | map: "name" %}
			{% else %}
				{% assign catname = page.tag %}
			{% endif %}
			{{ catname }}
		{% else %}
			Consorcio en Epidemiología y Ecología Espacial de Enfermedades
		{% endif %}&nbsp;| {{ site.title }}</title>

    <meta property="og:descrption" content="Visualizaciones para  el análisis de las tendencias del virus COVID-19 en el Perú."/>
    <meta property="og:image" content="https://ce4-peru.github.io/dashboard/embed.png"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- use bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/styles.css" />
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M2Z3KQS');</script>
<!-- End Google Tag Manager -->
	<link rel="icon" type="media/png" href="/assets/media/Favicon/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="media/png" href="/assets/media/Favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="media/png" href="/assets/media/Favicon/favicon-96x96.png" sizes="96x96">


	{% if page.rmarkdown_html_fragment == true %}
		{% include research_post_rmarkdown_scripts_head.html %}
	{% endif %}
</head>
