<header>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a target="_blank" class="navbar-brand" href="https://www.cayetano.edu.pe/"><img src="/assets/media/upch-logo-blanco.png"  class="logo" title="Consorcio en Epidemiología y Ecología Espacial de Enfermedades - CE4" /></a>
				<a class="navbar-brand text" href="https://ce4-peru.github.io">{{ site.title }}</a>
			</div>
			{% include navigation.html %}
		</div>
	</nav>
</header>