---
layout: default
---
{% assign group_data = site.data.authors | where: "id", page.tag | first %}

<ul style="list-style: none; padding: 15px;" id="author-group">
  {% for author in group_data.members %}
    {% assign author_data = site.data.authors | where: "id", author | first %}
    <li style="margin-bottom: 25px;">
      {% if author_data.url %}
        <a href="{{ author_data.url }}">{{ author_data.name }}</a>
      {% else %}
        <h4 style="margin-bottom: 0;"><b>{{ author_data.name }}</b>
          {% if author_data.twitter %}
            (<a href="https://twitter.com/{{ author_data.twitter }}">@{{ author_data.twitter }}</a>)
          {% endif %}
        </h4>
        {% if author_data.type %}
          <h4 style="margin-top: 0;">{{ author_data.type}}</h4>
        {% endif %}
      {% endif %}
      {% if author_data.grade %}
        <h5>{{ author_data.grade }}</h5>
      {% endif %}
    </li>
  {% endfor %}
</ul>
# Example
{% twitter oembed https://twitter.com/rubygems/status/518821243320287232 %}

<script>
  var list = document.getElementById("author-group");
  for (var i = list.children.length; i >= 0; i--) {
    list.appendChild(list.children[i]);
  }
</script>
